
   @font-face {font-family: "FuturaBk";
    src: url("//db.onlinewebfonts.com/t/de0c6a419bef2e705d921d829889cf80.eot");
    src: url("//db.onlinewebfonts.com/t/de0c6a419bef2e705d921d829889cf80.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/de0c6a419bef2e705d921d829889cf80.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/de0c6a419bef2e705d921d829889cf80.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/de0c6a419bef2e705d921d829889cf80.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/de0c6a419bef2e705d921d829889cf80.svg#Futura") format("svg");
}

.flx-col{
 display: flex;
 flex-direction: column;
 margin: 0;
}
.wrp{
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
}
.no-wrp{
 flex-wrap: nowrap;

}
.flx-row{
 display: flex;
 flex-direction: row;
 align-items: center;
}
.al-cnt{
 align-items: center;
 align-content: center;
}
.al-st{
 align-items: flex-start;
}
.sp-btw{
 justify-content: space-between;
}
.sp-ar{
 justify-content: space-around;
}
.js-ev{
justify-content: space-evenly;
}
.full{
  width: 100%
}
.h100{
  height: 100%;
}
.blk{
 color: black
}
.wht{
 color: white;
}

.scroll-down{
  max-height: 400px;
overflow-y: scroll;
}

.scroll-down::-webkit-scrollbar-button:hover{ background-color: #AAA; } 
.scroll-down::-webkit-scrollbar-thumb{ background-color: #CCC; } 
.scroll-down::-webkit-scrollbar-thumb:hover{ background-color: #CCC; } 
.scroll-down::-webkit-scrollbar-track{ background-color: #efefef; } 
 .scroll-down::-webkit-scrollbar{ width: 0.53em; }

.btn1{
margin-right: 1em; 
border: none;
font-size: 1em;
font-weight: 600;
white-space: nowrap;
width: fit-content;
padding: 0.5em 1.8em 0.5em 1.8em;
border-radius: 1.7em;
background-color: #559B58;
}

body{
 margin: 0;
 padding: 0;
 font-family: sans-serif;
 margin: 0;
 padding: 0;
 width: 100%;
 display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#u1{
 flex:1;
 margin: 0;
 padding: 0;
 }
nav{ 
 width: 100%;
 padding:0 2em 0 0.4em;
}

header #a1{
 background-color: #636363;
 padding: 1em 1em 1em 4em;
}
header .btn1{
 background: none;
 border: 1px solid white ;
}
header p{
  font-size:1.3em;
}

header  #a2{
  width: 80%;
  height: 64px;
  align-self: center;
 background-color: #78B990; 
}
header #a2 ul{
  width: 100%;
  margin: 0;
  padding: 0.3em;
 outline: none;
}
header #a2 li{ 
  padding: 0.3em;
 list-style-type: none; 
 cursor: pointer;
}
header a{
  text-decoration: none; 
  color: white;
}
header #a2 li:hover, .btn1:hover{ 
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid gray;
 }
header #a2 img{
  margin-right: 0.6em;
}

.state{
  align-self: center;
 padding: 2em 0.6em 1em 1em;
 -webkit-box-shadow: 0px 0px 8px 0px #4e4a4a; 
box-shadow: 0px 0px 8px 0px #797575;
 width: 80%;
 height: 50vh;
 margin-top: 2em;
 margin-bottom: 5em; 
 border-radius: 0.7em;
}
#vSearch, #vProfile, #vEmail{
  height: 100%;
  flex: 1;
  margin-left: 1em;
}
#vSearch{  
padding: 0.5em;
}

#vSearch img, select,  input{
  margin-bottom: 1.4em;
  margin-top: 0.3em;
  font-size: 16px;
  height: 25px;  
}
#vSearch input[type=number]{
  width: 3em;
}
#vSearch label{
  width: 100%;
}
 table{
  width: 100%;
  border-collapse: collapse; 
}
 th{
  background-color:  white;
}
tr{    
  cursor: pointer;
  border: 1px solid rgb(131, 129, 129);
  background-color: rgb(209, 207, 207);
}
 td:hover{
  background-color: white;
}
 td{    
  padding: 0.3em;
  background-color: rgb(209, 207, 207);
}
#vSearch select{
margin-bottom: 1em;
}
#vSearch .btn1{
  margin-bottom: 0.8em;
  }

#vProfile{
  flex: 0.8;
  border-left: 12px solid rgb(58, 143, 58);
  width: fit-content;
  border-radius: 0.5em;
  padding: 0.6em;
  -webkit-box-shadow: 0px 0px 8px 0px #4e4a4a; 
  box-shadow: 0px 0px 8px 0px #797575;
}
#vProfile .info{ 
  width: 100%;
  padding: 0.4em;
  font-size: 1.2em;
}
#vProfile label{
  margin-top: 0.8em;
  padding: 0.4em;
}
#vEmail{
  padding: 0.5em;
}
#vEmail h2{
  margin: 0;
  margin-bottom: 0.6em;
  font-size: 1.2em;
}

  textarea {
  height: 200px;
  font-size: 1.5em;
  margin-bottom: 0.6em;
}
 #blogs{
   padding: 0.6em;
 }

#maintain{
  flex: 2;
  padding: 0.6em;
}
#maintain .btn1{
  font-size: 0.845em;
}
footer{
  font-size: 1.2em;
  color: #474646;
  padding: 2em 6em 1em 6em;
 background-color: #9CDF9F;
}
address{  
  font-style: normal;
  margin-left:  1em;
}
footer li{
  margin: 1.3em 1.3em 0  0;
  white-space: nowrap;
}


